<div class="topcoat-list__container">
    <ul class="topcoat-list list">
        <li ng-repeat="result in searchResults" class="topcoat-list__item">
            <a href="#/Posts/edit/{{result.id}}">
                <p>{{result.title}}</p>
                <p>{{result.content}}</p>
                <span class="chevron"></span>
            </a>
        </li>
    </ul>
</div>

<div class="bar bottom">
    <div class="settings container">
        <a href="#/"> <img src='img/home.svg' />
        </a>
        <a href="#/Posts/new"> <img src='img/pencil.svg' />
    </a>
    </div>
</div>
